@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");

* {
  font-family: "Kanit", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: black url("bg.png") no-repeat;
  background-size: cover;
  margin: 0 auto;
  max-width: 1440px;
  height: 100%;
  overflow: hidden;
}

.hello {
  font-size: 4rem;
  color: #ffb300;
  text-align: center;
  filter: drop-shadow(2px 2px 5px #707200);
}

.hello:nth-child(2) {
  color: white;
  font-size: 1.4rem;
  font-weight: 100;
  letter-spacing: 1px;
}

.bi {
  color: #fff;
}

.social-box {
  font-size: 1.8rem;
  min-width: 700px;
  width: 56%;
  display: flex;
  position: absolute;
  top: 24px;
  left: 50%;
  transform: translate(-50%, 0%);
  justify-content: space-around;
}

.social-box a img {
  width: 50px;

  transition: 0.2s;
}

.social-box a img:hover {
  transform: scale(1.2); /* เพิ่มขนาดของไอคอนเมื่อ hover */
}

.center-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.my-skill {
  width: 30%;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.react {
  display: flex;
  width: 80%;
  justify-content: space-around;
  align-items: center;
}
.react img.anima-react {
  transition: 0.3s;
  animation: rotate 2s infinite linear; /* เริ่มใช้ animation หมุนเมื่อ hover โดยให้หมุนซ้ำอย่างไม่จำกัด */
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 105px;
  height: 105px;
  background: #fff;
  border-radius: 50%;
}

.backdrop-git {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50%;
}

.social-box a img.stack {
  width: 40px;
}

.backdrop-stack {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50%;
}

@media (min-width: 600px) and (max-width: 1024px) {
  .social-box {
    top: 20%;
  }
}

.text {
  animation: changeText 4s infinite;
}

@keyframes changeText {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
